$red: #CF6766;
$blue: #2596FF;
$white: #F7FBFC;
$silver: #E4EDF6;
$lightgray: #C3C6C9;
$gray: #7CA2C5;
$charcoal: #234;
$secondary: #254dff;

body {
  color: $charcoal;
  background: #f3f3f3;
  font-family: Inter, '-apple-system', BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.app {
  display: flex;
}

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  pointer-events: none;

  & > * {
    pointer-events: auto;
  }
}

.title {
  display: flex;
  align-items: center;
  margin: 2rem;
  position: absolute;
  top: 0;
  left: 0;

  img {
    margin-right: 12px;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }
}

.button {
  background: $blue;
  border-radius: 50%;
  color: white;
  padding: 12px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  box-shadow: 0 2px 4px rgba($blue, 0.5);
}

.player {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 2rem;
}

.player-header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.player-controls {
  display: flex;
}

.player-controls .icon + .icon {
  margin-left: 12px;
}

.player-controls .icon.-select {
  color: $blue;
}

.player-controls .icon:hover {
  cursor: pointer;
}

.date {
  color: $blue;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05rem;
  display: flex;
  align-items: center;
}

.date .icon {
  margin-right: 8px;
  font-size: 2rem;
}

.bar {
  background: $lightgray;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: relative;
}

.bar-progress {
  height: 100%;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  background: $blue;
  transition: 0.3s width linear;
}
