$red: #CF6766;
$blue: #2596FF;

body {
  font-family: Inter, '-apple-system', BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  position: fixed;
  color: black;
  pointer-events: none;

  & > * {
    pointer-events: auto;
  }
}

.app h1 {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.button {
  background: $blue;
  border-radius: 50%;
  color: white;
  padding: 8px;
  position: absolute;
  right: 16px;
  bottom: 16px;
  box-shadow: 0 2px 4px rgba($blue, 0.5);
}

.popup {
  background: $blue;
  width: 20vw;
  height: 20vh;
  padding: 2%;
  border-radius: 10%;
}

.popup div {
  display: flex;
}