@keyframes enter {
  from {
    opacity: 0;
    transform: translateX(4rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exit {
  from {
    opacity: 1;
    transform: translateX(0);
  }

  to {
    opacity: 0;
    transform: translateX(4rem);
  }
}

.popup {
  background: white;
  color: $gray;
  letter-spacing: 0.05rem;
  border: thin solid $silver;
  border-radius: 4px;
  padding: 2rem 1rem;
  box-shadow: 0 4px 8px rgba(black, 0.125);
  width: 360px;
  position: absolute;
  right: 0;
  margin: 1rem;
  animation: 500ms enter ease-out forwards;
}

.popup.-exit {
  animation: 250ms exit ease-in;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
}

.popup-section + .popup-section {
  padding-top: 2rem;
}

.popup-heading {
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 4px;
}

.popup-select {
  color: black;
  font-weight: bold;
  width: 100%;
  background: $white;
  border-right: 12px solid transparent;
  border-radius: 4px;
  box-shadow: 0 0 0 1px $silver,
    0 4px 8px $silver;
  padding: 8px;
}

.popup-graph-wrap {
  display: grid;
  grid-template-columns: 48px auto;
  grid-gap: 8px;
  margin-top: 8px;
}

.popup-graph {
  background: $white;
  border: thin solid $silver;
  border-radius: 4px;
}

.popup-graph {
  position: relative;
}

.popup-graph::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 33%;
  top: 33%;
  border-top: thin solid $silver;
  border-bottom: thin solid $silver;
}

.popup-graph-vaxis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popup-graph-haxis {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-graph-label {
  font-size: 0.875rem;
}

.popup-entries {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.popup-entry {
  background: $white;
  border: thin solid $silver;
  border-radius: 4px;
  padding: 12px;
}

.popup-prop {
  display: block;
  margin-bottom: 4px;
}

.popup-value {
  color: black;
  font-weight: bold;
  font-size: 20px;
}
